.edit-profile {
  padding: 90px 10px 10px 10px;

  h2 {
    text-align: center;
  }

  @media (min-width: 550px) {
    width: 80%;
  }

  @media (min-width: 750px) {
    width: 50%;
  }

  @media (min-width: 1000px) {
    width: 30%;
  }
}
