.home {
  padding: 60px 10px 10px 10px;
  width: 100%;

  h2 {
    text-align: center;
  }

  .panel {
    border-color: #cfd9D7;
    border-radius: 2px;
    box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
    margin-top: 20px;
    background-color: #fff;
  }

  .panel-default > .panel-heading {
    font-size: 85%;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    background-color: #f6f6f6;
    border-color: #cfd9db;
    padding: 10px;
  }

  .panel-default > .panel-body {
    padding: 15px;
  }

  .panel-default > .panel-footer {
    font-size: 85%;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    background-color: #f6f6f6;
    border-color: #cfd9db;
    padding: 10px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
    }

    li {
      list-style: none;

      &:not(:first-child) {
        padding-left: 20px;
      }
    }
  }
}
