// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.view {
  display: flex;
  justify-content: center;
}

.text-center  {
    text-align: center;
}

.text-muted {
  color: #90939a;
}
