// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html, body{
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #fff;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000000;

  &:hover {
    text-decoration: none;
  }
}

ul {
  margin-bottom: 0;
}

.view {
  display: flex;
  justify-content: center;
}

.text-center  {
    text-align: center;
}

.text-muted {
  color: #90939a;
}


// FLEXBOX
.hcontainer {
  @extend .container;

  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction: row;
  -webkit-align-items: stretch; /* Safari */
  align-items: stretch;

  .center {
    align-items: center;
  }
}

.vcontainer {
  @extend .container;

  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
  -webkit-align-items: stretch; /* Safari */
  align-items: stretch;

  .center {
    align-items: center;
  }
}

.field {
  display: -webkit-flex; /* Safari */
  display: flex;

  &:not(:first-of-type) {
    margin-top: 10px;
  }

  &.column {
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    -webkit-align-items: stretch; /* Safari */
    align-items: stretch;
  }

  &.row {
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
    -webkit-align-items: center; /* Safari */
    align-items: center;

    *:not([type=hidden]) ~ * {
      margin-left: 10px;
      width: 100%;
    }
  }

  input {
    height: 35px;
  }
}

.action {
  display: -webkit-flex;
  display: flex;
  text-align: center;

  &.column {
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    -webkit-align-items: stretch; /* Safari */
    align-items: stretch;

    :not(:first-of-type) {
      margin-top: 10px;
    }
  }

  &.row {
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
    -webkit-flex-align-items: center; /* Safari */
    align-items: center;

    :not(:first-of-type) {
      margin-left: 10px;
    }
  }

  * {
    width: 100%;
    height: 40px;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
