// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
}

.btn-primary {
  color: #fff;
  background-color: #4285f4;
  border-color: #357ebd;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-style: none;
}

.btn-success:hover {
  background-color: #196c4a;
}
